@model  MyCarServicesFinal.ViewModel.SingleCustomerCarViewModel
@{
    ViewBag.Title = "NEW CAR";
}

<h2>New Car</h2>

@using (Html.BeginForm("AddNewCar", "Home"))//action method ka nam create hoyga
{
    <div class="form-group">
        @Html.LabelFor(m => m.GetCar.VIN)
        @Html.TextBoxFor(m => m.GetCar.VIN, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GetCar.Model)
        @Html.TextBoxFor(m => m.GetCar.Model, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GetCar.Style)
        @Html.TextBoxFor(m => m.GetCar.Style, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GetCar.Company)
        @Html.TextBoxFor(m => m.GetCar.Company, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GetCar.Color)
        @Html.TextBoxFor(m => m.GetCar.Color, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.GetCustomer.Id)
    <button class="btn btn-primary" type="submit">save</button>
}